- if @building_name
  = @building_name.name
  = form_tag select_building_path, method: 'post' do |f|
    =select('post', "category", @buildings.distinct.pluck(:name) {|p| [ p.name , p.id ] }, {prompt: 'building'})
    = submit_tag 'Submit', class: 'round button'
%table
  %tr
    %th.help
      .helph
        %h4 Urgent Help requests
    %th.news
      .newsh
        %h4 Latest News
    %th.work
      .workh
        %h4  Work orders status
  %tr
    %th.help
      - @help_requests.each do |help|
        .card
          .card-divider
            - if help.urgent == true
              .stat_red
            = help.title
            %br
            = help.name
            %hr/
            %p.help
              = help.message
          - if help.workorder_id == nil
            - if session[:current_building_id]
              = link_to 'Create work order' , new_building_workorder_path(session[:current_building_id], help.id), class: 'button tiny inc'
            %br
    %th.news
      - @news.each do |news|
        .card
          .card-divider
            = news.title
            %hr/
            %p
              = news.description

    %th.work
      - @workorder.each do |work|
        .card
          .card-divider
            - if work.status == 'Done'
              .stat_green
            -elsif work.status == 'In progress'
              .stat_yellow
            -elsif work.status == 'Unable to complete'
              .stat_red
            = work.title
            %hr/
            %p.work
              = work.message
