.base
  %h3 News
  .nisse
    = link_to "Create news", new_building_news_path(session[:current_building_id]), class: 'round button'
  %br
  %br
  .row
    - @news.each do |news|
      .large-4.medium-4.columns
        .card
          .newh
            = news.title
        .content{:style => "overflow-y:scroll; overflow-x:hidden; height:100px;"}
          = news.description
        %br
        = link_to "Update", "/buildings/#{session[:current_building_id]}/news/#{news.id}/edit", method: :get, class: 'button tiny inc'
        = link_to "Delete", "/buildings/#{session[:current_building_id]}/news/#{news.id})", method: :delete, class: 'button tiny alert'
